:root {
  --bg: #f4f6ff;
  --text: #1e1e2f;
  --primary: #6c63ff;
  --secondary: #8b85ff;
  --card: #ffffff;
  --nav: #ffffff;
  --shadow: rgba(0, 0, 0, 0.08);
}

body.dark-mode {
  --bg: #121629;
  --text: #f1f1f1;
  --primary: #8b85ff;
  --secondary: #6c63ff;
  --card: #1e2238;
  --nav: #1a1d30;
  --shadow: rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg);
  color: var(--text);
}

nav {
  background: var(--nav);
  padding: 15px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 15px var(--shadow);
}

nav .links a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  color: rgb(100, 8, 248);
}

button {
  background: var(--primary);
  color: whitesmoke;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: var(--secondary);
}

section {
  padding: 70px 10%;
  min-height: 80vh;
  animation: fadeIn 0.8s ease-in-out;
}

.card {
  background: var(--card);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 8px 25px var(--shadow);
  margin-bottom: 30px;
}

.project-card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}
.bar {
    background: #1e293b;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
}

.progress {
    height: 10px;
    background: var(--accent);
    width: 0;
    animation: fillBar 2s forwards;
}

@keyframes fillBar {
    from { width: 0; }
}
.skill {
  margin-bottom: 20px;
}

.skill p {
  margin-bottom: 8px;
  font-weight: 500;
}

.skill-bar {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

body.dark-mode .skill-bar {
  background: #2c2f4a;
}

.skill-level {
  height: 100%;
  background: var(--primary);
  border-radius: 10px;
  animation: fillBar 1.5s ease forwards;
}

@keyframes fillBar {
  from {
    width: 0;
  }
}
h2{
  color: #6c63ff;
}
h1{
  color: burlywood;
}
h3{
  color: rgb(86, 185, 250);
}